<Checkbox
  @id="selectAll"
  @indeterminate={{this.isSelectAllIndeterminate}}
  @checked={{this.isSelectAllChecked}}
  @handleClick={{this.toggleSelectionAllFiles}}
/>
<span>Selected: {{this.selectedFileCount}} </span>
<Download />